core/xml/Event.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema version="8.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:include schemaLocation="BaseTypes.xsd" />

<xs:complexType name="EventType">
	<xs:sequence>
	<xs:element name="EventId"           type="stringtype"  />
	<xs:element name="EventLocalName"    type="stringtype"  />
	<xs:element name="EventLocalDesc"    type="stringtype"  />
	<xs:element name="EventActive"       type="booleantype" />
	<xs:element name="EventPreDefined"   type="booleantype" />
	<xs:element name="EventCreationDate" type="datetype"    />
	</xs:sequence>
</xs:complexType>
<xs:element name="Event" type="EventType" />
</xs:schema>
