core/xml/GeoLevel.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema version="8.0.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:include schemaLocation="BaseTypes.xsd" />

<xs:complexType name="GeoLevelType">
	<xs:sequence>
	<xs:element name="GeoLevelId" type="inttype"/>
	<xs:element name="GeoLevelName" type="stringtype" />
	<xs:element name="GeoLevelDesc" type="stringtype" />
	<xs:element name="GeoLevelLayer" type="stringtype" />
	</xs:sequence>
</xs:complexType>
<xs:element name="GeoLevel" type="GeoLevelType" />
</xs:schema>
